
 body {
  background-color:#ebf1ff ;
  font-family: "Press Start 2P", sans-serif;
  margin: 0;
  padding: 0;
  color: #072edc;
  overflow: scroll;
  font-family: "Press Start 2P", sans-serif;
  line-height: 1; 
  }

  h1{
    text-align: center;
  }



  .popup {
    width: 700px;
    height: 600px;
    border: 4px solid #072edc;
    background-color: #ebf1ff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    box-shadow: 8px 8px 0 #060d69;
    overflow: hidden;
    image-rendering: pixelated;
    border-radius: 4px;
      }

  .title-bar {
    background: #072edc;
    color: white;
    font-size: 18px;
    padding: 10px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #072edc;
      }

    .title-bar span {
      font-size: 14px;
      }

    .close-btn{
      position: absolute;
      right: 2px;
      }
    .maximize-btn{
      position: absolute;
      right: 26.75px;
      }

    .minimize-btn{
      position: absolute;
      right: 50px;
      }

  .content {
    flex-grow: 1;
    display: flex;
    overflow-y: auto;
      }

  .content::-webkit-scrollbar {
      width: 10px;
      }

  .content::-webkit-scrollbar-thumb {
        background: #060d69;
        border-radius: 5px;
      }

  .content::-webkit-scrollbar-thumb:hover {
      background: #03073c;
      }


  .bottom-bar {
    position:absolute;
    bottom:0px;
    background-color: #072edc;
    border-bottom: 4px solid #020c9b;
    padding: 10px;
    display: flex;
    justify-content: left;
    width: 100%;
        
    }

  .bottom-bar button {
    background-color: #ebf1ff;
    border: 2px solid #072edc;
    color: #072edc;
    font-size: 14px;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    box-shadow: 3px 3px 0 #060d69;
    transition: all 0.2s ease;
    }

  .bottom-bar button:hover {
    transform: translateY(-2px);
    box-shadow: 4px 4px 0 #060d69;
    }

  .bottom-bar button:active {
    transform: translateY(2px);
    box-shadow: none;
    }

.maindesktop {
  border: 5px solid black;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  background: url('../JS-project/img copy/download.webp');
  background-size: cover;
  background-repeat: no-repeat;
}

.desktop {
  position: absolute;
  top: 5%;
  left: 5%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}

.folder-icon {
  width: 100px;
  height: 100px;
  background: url('../JS-project/img copy/retro-1.png') no-repeat center center;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid #072edc;
  box-shadow: 4px 4px 0 #060d69;
  border-radius: 4px;
}

.folder-icon span {
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  text-align: center;
  padding: 4px 0;
  border-top: 2px solid #072edc;
  font-size: 10px;
  font-family: "Press Start 2P", sans-serif;
}

.folder-icon:hover {
  transform: translateY(-5px);
  box-shadow: 6px 6px 0 #072edc;
}

.folder-icon:active {
  transform: translateY(2px);
  box-shadow: none;
}


.popup .content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 10px;
}

.pdf-icon {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;

}

.pdf-icon img {
  width: 50px; 
  height: 50px;
  margin-bottom: 5px;
}



.pdf-icon:hover {
  transform: scale(1.1);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}


.projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}

.project-item {
  width: 300px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.project-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.project-card a {
  display: block;
  margin-top: 10px;
  padding: 10px;
  background-color: #007BFF;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
}

.project-card a:hover {
  background-color: #0056b3;
}

.carousel-images img {
  max-height: 100%;
  max-width: 100%;
  display: none; 
  transition: opacity 0.3s ease-in-out;
  z-index: 10;
}

.prev-btn, .next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 24px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 10;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

.prev-btn:hover, .next-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.prev-btn:disabled, .next-btn:disabled {
  background-color: rgba(0, 0, 0, 0.3);
  cursor: not-allowed;
}


#ContactPopup{
  height: 200px;
}

#AboutPopup{
  height: 370px;
}

p{
  text-align: center;
  padding: 5px;
  line-height: 1.5;
}




.popup-container {
  position: absolute;
  display: none; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); 
  z-index: 1000;
  padding: 20px;
}

#carouselPopup {
  display: none;  
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  border: 2px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1010;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}


.carousel-content {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
}


.carousel-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}


.carousel-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  padding: 0; 
}

.carousel-slide embed {
  width: 100%;
  height: 100%;
  border: none; 
}



#filterSection {
  background: #f7f8fc;
  display: none; 
  margin: 10px;
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1.5px solid blue;

  
}


.projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
  justify-content:left;
  padding: 20px;
}

.project-item {
  width: 150px;  
  height: 150px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;  
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid #072edc; 
  box-shadow: 4px 4px 0 #060d69;  
  border-radius: 4px;  
  transition: transform 0.3s ease;
}


.project-thumbnail {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;  
  flex-grow: 1;  
}

.project-thumbnail img {
  max-width: 100%;  
  max-height: 80%; 
  object-fit: contain;  
}

.project-item span {
  background: rgba(255, 255, 255, 0.9);  
  width: 100%;
  text-align: center;
  padding: 4px 0;
  border-top: 2px solid #072edc;
  font-size: 12px;
  font-family: "Press Start 2P", sans-serif;
}


.project-item:hover {
  transform: translateY(-5px);  
  box-shadow: 6px 6px 0 #072edc;  
}

.project-item:active {
  transform: translateY(2px); 
  box-shadow: none;
}


@media (max-width: 768px) {
  .project-item {
    width: 120px;
    height: 120px;
  }

  .project-thumbnail img {
    max-width: 90%;  
    max-height: 70%;
  }
}


.app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f5f5;  
  padding: 20px;
  font-family: 'Arial', sans-serif;  
}


.controls {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  border: 5px solid #0f1cd6;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
  width: 220px;
  min-width: 220px;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  color: #333;
}


.type label:hover {
  background-color: #f0f0f0;
}

.size,
.color {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.size input[type="range"],
.color input[type="color"] {
  width: 100%;
  margin-left: 10px;
}

.actions button {
  background-color: #0f1cd6;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.actions button:hover {
  background-color: rgb(11, 11, 126);
}



.canvas {
  position: relative;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: crosshair;
  border: 10px solid #0f1cd6;
}


@media (min-width: 768px) {
  .app {
      padding: 40px;
  }

  .controls {
      width: 300px;
  }

  #canvas-wrapper {
      width: 800px;
      height: 700px;
  }
}
